* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

header {
  width: auto;
  height: max-content;
  background-color: rgba(233, 212, 196, 0.5490196078);
  font-size: 20px;
}
header nav {
  margin-left: 26vw;
}
header nav li {
  padding: 10px;
}
header nav li a {
  text-decoration: none;
  background-image: linear-gradient(#143a23, #a2b393);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
header nav li a:hover {
  background-size: 100% 2px;
}

footer {
  width: auto;
  height: max-content;
  background-color: #a2b393;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
footer .hFooter, footer h4 {
  margin-left: 10px;
  font-size: small;
  color: #143a23;
}
.redes {
  margin-left: 30vw;
  margin-top: 10px;
}
.redes a {
  font-size: 25px;
  text-decoration: none;
  color: #143a23;
  transition: 1s;
  padding: 5px;
}
.redes a:hover {
  color: white;
  font-size: 30px;
}

main {
  height: max-content;
  background-image: url(Recursos/isla.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
main div {
  width: 450px;
  height: max-content;
  background-color: #b9c9ab;
  border-radius: 10px;
}
main div p {
  font-size: 18px;
  text-align: justify;
  padding: 15px;
}
main .bienvenidos {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 80px;
  margin-left: 100px;
}
main .bienvenidos h1 {
  font-size: 25px;
  text-align: center;
  color: #143a23;
  padding: 3px;
}
main .bienvenidos2 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 50px;
}
main .bienvenidos2 h2 {
  font-size: 25px;
  text-align: center;
  color: #143a23;
  padding: 3px;
}

section {
  width: auto;
  height: max-content;
  background-color: white;
  margin-top: 150px;
  margin-bottom: 150px;
}
section .reprocann {
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}
section .reprocann img {
  width: 300px;
  margin-left: 20px;
}
section .reprocann .contenido {
  width: 250px;
  height: max-content;
}
section .reprocann .contenido h3 {
  font-size: large;
  font-weight: bold;
}
section .reprocann .contenido p {
  width: 300px;
  font-size: medium;
  text-align: justify;
  margin-top: 10px;
}

.boton {
  width: 150px;
  height: 30px;
  border-color: white;
  background-color: #b9c9ab;
}
.boton a {
  text-decoration: none;
  color: #143a23;
  font-weight: 500;
}

.eventos {
  height: max-content;
}
.eventos .tituloEventos {
  text-align: center;
  color: #143a23;
}
.eventos .cajaImg {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: space-between;
}
.eventos img {
  width: 400px;
  text-align: center;
  margin-bottom: 40px;
}
.eventos .boton {
  margin-left: 35%;
}

.whatsapp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  right: 30px;
  bottom: 40px;
  text-align: center;
  background-color: #0df053;
  color: white;
  border-radius: 50px;
  font-size: 30px;
  z-index: 100;
  margin-bottom: 20px;
}
.whatsapp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: white;
}

.sobreNosotros {
  height: 900px;
  background-image: url(./Recursos/presentacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.historiaIsla-1 {
  width: 300px;
  height: max-content;
  background-color: #8eb19b;
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
  transition: 2s;
}
.historiaIsla-1:hover {
  width: 350px;
}
.historiaIsla-1:hover h3 {
  font-size: 28px;
}
.historiaIsla-1:hover p {
  font-size: 20;
}
.historiaIsla-1:hover p li {
  list-style: none;
}
.historiaIsla-1 h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}
.historiaIsla-1 p {
  font-size: 18px;
}

.historiaIsla-2 {
  width: 300px;
  height: max-content;
  background-color: #b9c9ab;
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
  transition: 2s;
}
.historiaIsla-2:hover {
  width: 350px;
}
.historiaIsla-2:hover h3 {
  font-size: 28px;
}
.historiaIsla-2:hover p {
  font-size: 20;
}
.historiaIsla-2:hover p li {
  list-style: none;
}
.historiaIsla-2 h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}
.historiaIsla-2 p {
  font-size: 18px;
}

.historiaIsla-3 {
  width: 300px;
  height: max-content;
  background-color: rgba(233, 212, 196, 0.5490196078);
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
  transition: 2s;
}
.historiaIsla-3:hover {
  width: 350px;
}
.historiaIsla-3:hover h3 {
  font-size: 28px;
}
.historiaIsla-3:hover p {
  font-size: 20;
}
.historiaIsla-3:hover p li {
  list-style: none;
}
.historiaIsla-3 h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}
.historiaIsla-3 p {
  font-size: 18px;
}

.productos {
  height: max-content;
}
.productos .cp {
  margin: 20px;
  margin-left: 25px;
  padding: 10px;
  text-align: center;
}
.productos .cp img {
  width: 250px;
  margin-left: 65px;
  margin-top: 5px;
}
.productos .cp h2 {
  font-size: 20px;
}
.productos .cp .btn {
  background-color: rgba(233, 212, 196, 0.5490196078);
  font-size: 15px;
}

.consultas {
  height: max-content;
  display: grid;
  grid-template-rows: 40%, 60%;
}
.consultas img {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.consultas .cajaConsultas {
  width: 400px;
  height: max-content;
  background-color: white;
  margin-left: 40px;
  margin-top: 20px;
}
.consultas .cajaConsultas button {
  background-color: #a2b393;
}
.consultas .cajaConsultas h2 {
  color: #143a23;
}

.contacto {
  height: max-content;
  margin-right: 450px;
  margin-left: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contacto input {
  width: 400px;
  padding: 5px;
  background-color: rgba(233, 212, 196, 0.5490196078);
  border-radius: 20px;
}
.contacto select {
  margin-right: 100px;
  margin-left: 100px;
  background-color: rgba(233, 212, 196, 0.5490196078);
}

.tituloSeccion {
  width: auto;
  height: max-content;
  background-color: rgba(233, 212, 196, 0.5490196078);
  background-image: url(./Recursos/LOGO\ eli.png);
  background-size: 80px;
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 10px;
  margin: 20px 0px;
  text-align: center;
}
.tituloSeccion h1 {
  font-size: 25px;
  color: #143a23;
}
.tituloSeccion i {
  font-size: 20px;
  color: #143a23;
}
.tituloSeccion .redes {
  text-align: right;
}

@media only screen and (min-width: 320px) and (max-width: 820px) {
  header {
    font-size: 15px;
  }
  header nav {
    margin-left: 15vw;
  }
  footer h3 {
    font-size: 15px;
  }
  footer h4 {
    font-size: 10px;
  }
  .redes {
    margin-left: 20vw;
  }
  .redes a {
    font-size: 15px;
  }
  .redes a:hover {
    font-size: 20px;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  main div {
    width: 280px;
    height: max-content;
    margin: 30px;
  }
  main div h1 {
    font-size: 20px;
  }
  main div h2 {
    font-size: 20px;
  }
  main div p {
    font-size: 15px;
  }
  main div .reprocann {
    width: 300px;
    height: max-content;
  }
  .sobreNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: max-content;
    align-content: center;
  }
  .consultas {
    height: max-content;
    margin-bottom: 20px;
  }
  .consultas img {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
  }
  .consultas .cajaConsultas {
    width: 250px;
    height: max-content;
    margin-left: 28px;
    margin-top: 20px;
    text-align: center;
  }
  .contacto {
    height: 450px;
    margin: 20px;
    margin-top: 50px;
  }
  .contacto input {
    width: 250px;
    padding: 5px;
    background-color: rgba(233, 212, 196, 0.5490196078);
    border-radius: 20px;
  }
  .contacto select {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    background-color: rgba(233, 212, 196, 0.5490196078);
  }
}
@media only screen and (min-width: 820px) and (max-width: 1200px) {
  .sobreNosotros {
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .consultas {
    height: max-content;
    margin-bottom: 30px;
  }
  .contacto {
    height: 450px;
    margin-left: 300px;
    margin-top: 50px;
  }
  .contacto input {
    padding: 5px;
    border-radius: 20px;
  }
  .contacto select {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=estilos.css.map */
